$ColorBackground:rgb(124,51,114);
$colorBackGroundGrad:radial-gradient(circle, rgba(124,51,114,1) 4%, rgba(31,38,147,1) 100%);;
$colorText:rgb(255, 255, 255);
$color2:rgb(23, 23, 163);
$textShadow: 2px 2px rgb(5, 0, 0);
$text1:2rem;
$text2:4rem;
$version1:rgb(255, 255, 255);

body{
   background:$colorBackGroundGrad;
   margin: auto;
   padding: auto;
   max-width: 1200px;
   text-align: center;
}

h1,h2,p,a{
    color:$colorText;
    text-shadow: $textShadow;
    text-decoration: none;
    font-size: $text1;
}
.controlstyle1{
    display: flex;
}
.controlstyle0{
    display: none;
}
.question{
    width: 95%;
    margin: auto;
    padding: auto;
}
.questionAnswer, .avatar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    padding: auto;
}
.answer, b{
    width: 40%;
    padding: 2%;
    margin: 2%;
    background-color: $color2;
    border-radius: 50%;
    border: 3px solid black;
    font-size: $text1;
    text-align: center;
    align-items: center;
    
}


