<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Jura:wght@300&family=Khula&family=Merienda:wght@600&family=Orbitron:wght@900&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <h1>Hello, I am a student at Edinburgh Napier University.</h1>
    <p> And this is one of my projects. You can see my other works by visiting my website.</p>
    <a href="https://inarsbirins.top/"> <button class="btn2 btn1 med">Visit My Website </button></a>
    <p> Also there you will be able to find an opportunity to contact me.</p>
    <a href="/"> <button class="btn2 btn1 med">Go back </button></a>
</body>
</html>