<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome. Now please crete a profile</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Jura:wght@300&family=Khula&family=Merienda:wght@600&family=Orbitron:wght@900&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
    
</head>
<body>
  
        
            <div>   
            <div class="svatar spec">
                    <h2>Avatar</h2>
                    <div id="showAvatar"><img src="{{url_for('static', filename='img/avatar/avatar4.png')}}"/></div>
                    <div class="setImageArea"  id="setAvatar" style="display: none;"></div>
                    
             </div>
        <div claa="block2">
                <button class="btn1 btn2 spec" onclick="moveBack()">Previous Image</button>
                <button class="btn1 btn2 spec" onclick="randomAvatar()">Randomize</button>
                <button class="btn1 btn2 spec" id="next" onclick="moveFront()">Next Image</button>
        </div>
           </div>

            
                
          
       
  
<div class="user">
   <label for="userNameData">Please Enter Your Username:</label><br/>
   <input type="text" id="userNameData">
   <button class="btn1 btn2" type="button" onclick="createUserName()">Save Username</button> 
   <span id="infoUser"></span>
</div>
   <button class="btn1 btn2" id="startGame" onclick="startGame()">START</button>
</div>

<script src="{{ url_for('static', filename='js/createUser.js') }}"></script>
</body>
</html>