<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
    <title>GAME OVER</title>
</head>
<body>
    <h1>GAME OVER</h1>
    <p>Your answer {{answer}} was wrong.</p>
    <p> {{ question }} </p>
    <p>Correct answer: {{correct}}</p> 
    <p>You finish game with £ {{bank}}</p>
</body>
</html>