<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Jura:wght@300&family=Khula&family=Merienda:wght@600&family=Orbitron:wght@900&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <a href="/"> <button class="btn2 btn1 med">Go back </button></a>
    
    <div class="content">
    <h1>Please read game instructions bellow</h1>
    <ol>
        <li>Please chose your avatar by CLICKING (randomize)</li>
        <li>Choose your username and click on (save username)</li>
        <li>Press START</li>
        <li>Accept the confirmation box on the top right corner</li>
     </ol>   
        <h2>Game</h2>
         <p> Can see your avatar on the top left corner and your username on the top right corner.</p>
        
        <h2>Rules</h2>
        
       <p>The top page also allows you to see the amount of money you have won and you get 2 options of help in during your game.</p>
        <p>Please acknowledge that you only can use both of these help buttons only ONCE during your play.</p>
        
       <p> You will see a QUESTION and you get 4 options of answers. One of the answers is the correct one.</p>
       
       <ul>
        <li>Click on the answer that you think is the correct one.</li>
        <li>This will take you to the next question</li>
        </ul>
       <p> (if you chose the wrong answer the game will end and you will be shown the right answer.</p>
        <p>- Click on the button (See Result) and you will be taken to the final page. You can see the sum you have won and you have an option to star your game all over.</p>
        <a href="/"> <button class="btn2 btn1 med">Go back </button></a>
    </div>
</body>
</html>